/* css reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 62.5%;
  font-family: 'Calibri', 'Open Sans', 'Trebuchet MS';
}

body {
  background-color: #323232;
  font-size: 1.6rem;
}

ul, li {
  list-style: none;
  font-family: 'Barlow', sans-serif;
}

h1   {
  font-size: 3.5em;
}

h2 {
  font-size: 2em;
}

/* page and header style */

.content {
  height: 100%;
  min-height: 100vh;
  overflow: auto;
  font-size: calc(1rem + 0.5vw + 0.25vh);
}

.departures-page {
  background-color: #323232;
  min-height: 100vh;
  font-size: 1em;
  color: white; 
}

.departures-page header {
  display: flex;
  align-items: left;
  justify-content: left;
  height: 10vh;
  min-height: 80px;
  margin: 0 auto;
  padding: 0.8em;
}

.departures-page header .logo {
  max-width: 20%;
  height: 100%;
  margin-right: 0.8em;
}

.departures-page header .pojlogo {
  max-width: 20%;
  height: 70%;
  margin-left: auto;
  background-color: white;
}

.departures-page header img {
  display: block;
  height: 100%;
  border-radius: 0.5em;
  object-fit: contain;
}

.departures-page header h1 {
  flex-grow: 0;
  display: flex;
  height: 70%;
  padding-top: 1em;
  text-align: left;
  align-items: flex-end;
}

/* tables syles */

table.departures {
  width: 100%;
  white-space: nowrap;
  border-collapse: collapse;
  text-align: left;
  margin-bottom: 2.2em;
}

table.departures thead th:nth-child(1) {
  width: 18%;
}

table.departures thead th:nth-child(2) {
  width: 28%;
}

table.departures thead th:nth-child(3) {
  width: 13%;
}

table.departures thead th:nth-child(4) {
  width: auto;
}

table.departures th,
table.departures td{
  padding: 0.5em
}  

table.departures thead th    {
  text-align: left;
  background: #646464;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
}

.status0 {
  color: white;
}

.status1 {
  color: lime;
}

.status2 {
  color: yellow
}

.status3 {
  color: red;
}

tr:nth-child(even) {
  background-color: #414141;
}

/* footer styles */

footer  {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  color: white; 
  background-color: #646464;
  padding: 0.5em;
  text-align: right;
}


/* Media Queries */

/* small tablet portrait */
@media only screen and (min-width: 767px) {
  table.departures { 
    font-size: 1.1em;
  }
}

/* large tablet portrait */
@media only screen and (min-width: 1020px) {
  .table.departures { 
    font-size: 1.2em;
  }
}

/* small tablet landscape */
@media only screen and (min-width: 1020px) and (orientation: landscape) {
  .departures-page header {
    height: 15vh;
  }
  
  .content {
    font-size: calc(1.5rem + 0.25vw);
  }

  .table.departures { 
    font-size: 1em;
  }

}

/* large tablet landscape and desktop */
@media only screen and (min-width: 1366px) and (orientation: landscape) {
  table.departures th,
  table.departures td{
    padding: 0.5em 0.75em
  }  
  
}