<!DOCTYPE html>
  <html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="16">
    <title>Jersey Airport Departures</title>
    <link rel="stylesheet" href="static/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet"> 
  </head>

  <body>
    <div class="content">
      <div class="departures-page" id="departures-page">

      <header>
        <div class="logo">
          <img src="static/departures.png" alt="Departures Logo">
        </div>

        <h1><span>Departures</span></h1>

        <div></div>
      </header>

        <table class="departures" id="departures-table">
          <thead>
            <th>Flight</th>
            <th>Destination</th>
            <th>STD</th>
            <th>Gate</th>
            <th>Status</th>
          </thead>
          <tbody>
          {% for row in table %}
            <tr>
              <td>{{ row.airline }}{{ row.flightnumber }}</td>

              <td>{{ row.arrivalairport }}</td>

              <td>{{ row.scheduledtime }}</td>

              <td>{{ row.passengergate }}</td>
              
              {% if row.status2 is defined %}
                <td style="color:{{ row.statuscolor }}">{{ row.status1 }}</td>
              {% else %}
                <td class="status1" style="color:{{ row.statuscolor }}">{{ row.status1 }}</td>
                <td class="status2" style="display:none;color:{{ row.statuscolor }}">{{ row.status2 }}</td>
              {% endif %}
            </tr>
          {% endfor %}            
          </tbody>
        </table>
      </div>

      <footer>
        <div id="footer-date">
          <h2></h2>
        </div>
      </footer>

    </div>
    <script src="static/index.js"></script>
  </body>
</html>