<!DOCTYPE html>
  <html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="15">
    <title>Departures Board</title>
    <link rel="stylesheet" href="static/index.css">
  </head>

  <body>
    <div class="content">
      <div class="departures-page" id="departures-page">

      <header>
        <div class="logo">
          <img src="static/departures.png" alt="Departures Logo">
        </div>

        <h1><span>Departures</span></h1>
      </header>

        <table class="departures" id="departures-table">
          <thead>
            <th>Flight</th>
            <th>Destination</th>
            <th>STD</th>
            <th>Status</th>
          </thead>
          <tbody>
          {% for row in table %}
            <tr>
              <td>{{ row.callsign }}</td>
              <td>{{ row.arrivalairport }}</td>
              <td>{{ row.operationtime }}</td>
              {% if 'go to gate' in row.status|lower %}
              <td class="gateCalled" %}>{{ row.remarkfreetext }}</td>
              {% elif row.status|lower == "cancelled" %}
              <td class="cancelled">{{ row.remarkfreetext }}</td>
              {% else %}
              <td>{{ row.remarkfreetext }}</td>
              {% endif %}
            </tr>
          {% endfor %}            
          </tbody>
        </table>
      </div>

      <footer>
        <div id="footer-date">
          <h2></h2>
        </div>
      </footer>

    </div>
    <script src="static/index.js"></script>
  </body>
</html>