<!DOCTYPE html>
  <html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="15">
    <title>Jersey Airport Departures</title>
    <link rel="stylesheet" href="static/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet"> 
  </head>

  <body>
    <div class="content">
      <div class="departures-page" id="departures-page">

      <header>
        <div class="logo">
          <img src="static/departures.png" alt="Departures Logo">
        </div>

        <h1><span>Departures</span></h1>

        <div></div>
      </header>

        <table class="departures" id="departures-table">
          <thead>
            <th>Flight</th>
            <th>Destination</th>
            <th>STD</th>
            <th>Status</th>
          </thead>
          <tbody>
          {% for row in table %}
            <tr>
              <td>{{ row.airline }}{{ row.flightnumber }}</td>

              <td>{{ row.arrivalairport }}</td>

              <td>{{ row.scheduledtime }}</td>
              
              {% if 'airborne at' in row.remarkfreetext|lower %}
              <td class="status0">{{ row.remarkfreetext }} {{ row.airbornetime }}</td>
              {% elif 'approx' in row.remarkfreetext|lower %}
              <td class="status1">{{ row.remarkfreetext }} {{ row.estimatedtime }}</td>
              {% elif 'delayed' in row.remarkfreetext|lower %}
              <td class="status2">{{ row.remarkfreetext }} {{ row.estimatedtime }}</td>
              {% elif 'estimated' in row.remarkfreetext|lower %}
              <td class="status1">{{ row.remarkfreetext }} {{ row.estimatedtime }}</td>
              {% elif 'final call gate' in row.remarkfreetext|lower %}
              <td class="status2">{{ row.remarkfreetext }} {{ row.passengergate }}</td>
              {% elif 'gate closed' in row.remarkfreetext|lower %}
              <td class="status2">{{ row.remarkfreetext }}</td>
              {% elif 'gate info at' in row.remarkfreetext|lower %}
              <td class="status0">{{ row.remarkfreetext }} {{ row.gatetime }}</td>
              {% elif 'gate info shortly' in row.remarkfreetext|lower %}
              <td class="status1">{{ row.remarkfreetext }}</td>
              {% elif 'go to gate' in row.remarkfreetext|lower %}
              <td class="status1">{{ row.remarkfreetext }} {{ row.passengergate }}</td>
              {% elif 'cancelled' in row.remarkfreetext|lower %}
              <td class="status3">{{ row.remarkfreetext }}</td>
              {% elif 'ezy' in row.airline|lower %}
              <td class="status0">Info on EasyJet App</td>
              {% else %}
              <td>{{ row.remarkfreetext }}</td>
              {% endif %}
            </tr>
          {% endfor %}            
          </tbody>
        </table>
      </div>

      <footer>
        <div id="footer-date">
          <h2></h2>
        </div>
      </footer>

    </div>
    <script src="static/index.js"></script>
  </body>
</html>